{% extends "shop/base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} x {{ item.product.name }}
                    <span>${{ item.total_price|floatformat:2 }}</span>
                </li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off) 
                    <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
                </li>
            {% endif %}
        </ul>
        Total: ${{ cart.get_total_price_after_discount|floatformat:2 }}
    </div>
    <form method="POST" class="order-form">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Place order"></p>
    </form>
{% endblock %}